@font-face {
    font-family: staatliches;
    src: local(staatliches), url("Staatliches-Regular.ttf");
 }

body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: staatliches;
    color: #002555;
    background: url("WhatsApp\ Image\ 2023-10-24\ at\ 20.50.09.jpeg");
    overflow-x: hidden;
  }

  .container {
    width: 400px;
    margin: 40px auto;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    width: 414px;
    height: 56px;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #002555;;
    border-radius: 0.25rem;
    color: #002555;
    cursor: pointer;
    font-family: staatliches;
  }

  input {
    margin: 10px auto;
    display: block;
    width: 411px;
    height: 56px;
    border: 1px solid #002555;;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    color:#002555;
    font-family: staatliches;
  }
  
  .calculator {
    text-align: center;
  }
  
  progress {
    width: 300px;
    margin-top: 20px;
  }

  #LabelPA{
    margin-right: 287px;
    display: inline-block;
    width: 140px;
    font-size: 20px;
  }
  
  #LabelAP1{
    margin-top: 14px;
    display: flex;
    margin-bottom: -12px;
    font-size: 20px;
  }

  label{
    display: flex;
    margin-bottom: -12px;
    font-size: 20px;
  }

  progress {
    height: 24px;
    -webkit-appearance: none;
    appearance: none;
  }

  progress[value]::-webkit-progress-bar {
    background-color: #dfdfdf;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(left, #f5ac00, #f5ac00);
  
      border-radius: 15px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }

  progress[value]::-webkit-progress-value::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 100%;
    right: 7px;
    top: 7px;
    background-color: white;
  }

  .progress-value {
    display: block;
    margin-top: 10px;
    font-size: 20px;
  }

  .container-bar{
    margin-top: 70px;
  }

  #resultado{
    font-size: 20px;
    display: block;
  }

  .header {
    width: 100%;
    text-align: right;
    position: relative;
  }
    
  .logo {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 32px;
      font-weight: 100;
      padding: 26px;
    }
  
  
  .link {
    display: inline-block;
    padding: 15px 0;
    margin: 29px 30px;
    position: relative;
    text-decoration: none;
    color: #002555;
    font-size: 20px;
  }
    
    .bar {
      width: 100%;
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: all 300ms;
    }
    
    &:hover {
      .bar {
        opacity: 1;
        bottom: 5px;
      }
    }

    .imagem{
      width: 190px;
      height: 45px;
    }
  
    .pdfs{
      display: grid;
      row-gap: 40px;
      text-align: center;
      font-size: 40px;
      margin-top: 120px;
      text-decoration: none;
  }
  .ap1{
      text-decoration: none;
  }